
<div class="contents-header">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="contents-title">My Item List</h1>
    <p>
      <a href="#" class="btn btn-primary my-2">新規登録</a>
      <a href="#" class="btn btn-secondary my-2">all</a>
      <a href="#" class="btn btn-secondary my-2">トップス</a>
      <a href="#" class="btn btn-secondary my-2">アウター</a>
      <a href="#" class="btn btn-secondary my-2">ボトムス</a>
      <a href="#" class="btn btn-secondary my-2">シューズ</a>
      <a href="#" class="btn btn-secondary my-2">バッグ</a>
      <a href="#" class="btn btn-secondary my-2">被り物</a>
      <a href="#" class="btn btn-secondary my-2">アクセサリー</a>
      <a href="#" class="btn btn-secondary my-2">その他</a>
    </p>
  </div>
</div>

<div class="item-contens">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <p class="item-name">アイテム名 </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">詳細</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">編集</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

<div class="footer">
</div>